*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #f1f5f8;
}
nav{
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 5px  rgba(0,0,0,0.1);
}
.nav-center{
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-center h4{
    color: #49a6e9;
    letter-spacing: 2px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
 text-decoration: none;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
}
main{
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
}
.container h2{
    background: #222;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.color{
    color: #49a6e9;
}
.btn{
    padding: 10px 20px;
    border: 2px solid #222;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.btn:hover{
    background: #222;
    color: #fff;
}
